/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800;900&display=swap');


/*BASICOS*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	position: relative;
	height: 100%;

}

body {
	background-color: #f1f1f1;
	color: #1a1a1a;
	height: 100%;
	font-family: 'Poppins', sans-serif;
}


.photo-main{ background-color: #dedede; }

.photo-main img{ height: 80vh; }

.photo-gallery img{
	border-radius: 4px;
	margin-bottom: 0.5rem;
	cursor: pointer;
	background-color: #eaeaea;
}

.center{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.line-right{
	border-right: 1px solid #dedede;
}
